__pycache__
config/google-vision-credentials.json
pinecone-test/
scripts/
supabase/
pathces/
.env
.env.denominator
.env.vyve
venv/
node_modules/
backend/.env
backend/db.sqlite3
backup.sql
bun.lockb
my_token.txt

env/

embed.py
document_utils.py
/langchain_processor.py
/pinecone_handler.py
/process_documents.py
app.py
app.py.old
test_storage.py
test_db.py


node_modules/




